@import "~bulma/sass/utilities/initial-variables";
@import "variables";

.navbar-item {
  text-transform: uppercase;
  font-weight: 700;
}

h2.title {
  font-size: 2em;
  margin-top: 1.5em;
  color: #000000;
}

h3.subtitle {
  font-family: $family-serif;
  font-size: 1.25em;
  line-height: 1.75em;
}

@import "~bulma";
